.notification {
	position: fixed;
	z-index: 10;
	bottom: 5px;
	left: 10px;
	min-width: 20%;
	background-color: white;
	display: flex;
	align-items: center;
	padding: 10px 30px 10px 10px;
	border-radius: 7px;
	box-shadow: 0 0 10px gray;
	color: black;

	.status-icon {
		font-size: 30px;

		&.--success {
			color: green;
		}

		&.--error {
			color: red;
		}
	}

	&.--hidden {
		display: none;
	}

	.message {
		margin-left: 15px;
	}

	.close-icon-btn {
		position: absolute;
		top: 7px;
		right: 7px;
		cursor: pointer;
	}
}